<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employee Database</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
        <script src="js/script.js"></script>
    </head>

    <body>
        <div class="container" id="home">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" v-for="(query, index) in queries">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" :href="'#collapse' + index" @click="runAjax(query.file)">
                                {{ query.name }}
                            </a>
                        </h4>
                    </div>
                    <div :id="'collapse' + index" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ result }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCustom">
                                {{ customQuery }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCustom" class="panel-collapse collapse">
                        <div class="panel-body">
			  <label><input type="checkbox" v-model="checkedNames" id="employees" value="employees"> employees </label><br>
			  <label><input type="checkbox" v-model="checkedNames" id="departments" 
			  value="departments"> departments  </label><br>
			  <label><input type="checkbox" v-model="checkedNames" id="dept_emp" value="dept_emp"> dept_emp </label><br>

			  <label><input type="checkbox" v-model="checkedNames" id="dept_manager" 
		          value="dept_manager"> dept_manager </label><br>
			  <label><input type="checkbox" v-model="checkedNames" id="title" value="title"> title </label><br>
			  <label><input type="checkbox" v-model="checkedNames" id="salaries" value="salaries"> salaries </label><br>
			  {{join_result}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
